 
body {
  background-color: #e6e6fa;
  font-family: 'Quicksand', sans-serif;

}

  .Newsletter {
    background-color: blanchedalmond;
    padding: 30px;
  }

  .About{
    background-color: lavenderblush;
    padding: 30px;
  }

.Footer {
  background-color:lavenderblush;
  padding: 30px;
  

}




.Accessability {
background-color: thistle;
  padding: 30px;

}



i {
  float: right;
  color: black;
  padding: 10px;

}

h2 {
  color: solid;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
 a:visited {
  color: black;
}

/* mouse over link */
 a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: black;
}

