 

body {
  background-color: white;

}





.Navbar { 
  text-align: left;
  position: fixed;
  
  }

  .Newsletter {
    
    padding: 5px;
  }

  .About{
  
    padding: 5px;
  }

.Footer {
  background: rgb(231, 74, 74);
  padding: 10px;
 
  text-align: left;

}

.Trailer {

  padding: 10px;

}

.Main {
  padding: 5x;
}

.Accessability {
  background-color: blanchedalmond;
  padding: 10px;

}





i {
  float: right;
  color: black;
  padding: 10px;

}

h2 {
  color: solid;
}

.gdtLogo {
  justify-content: center;
  
}